<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Vilões</title>

    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <h1>Galeria de Vilões</h1>

    <footer>
        <button type="button" class="retorno">
            <a href="/">Retornar à página inicial</a>
        </button>
    </footer>
</body>
</html>