<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Flash</title>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <header>
        <h1 class="titulo">Bem Vindo ao Museu do Flash</h1>
    </header>
    <main>
        <select name="seletor" id="seletor">
            <option class="opicao" value="">Escolha um local/assunto para conhecer melhor</option>
            <option class="opicao" value="timeFlash">Time Flash </option>
            <option class="opicao" value="laboratoriosStar">Laboratórios STAR</option>
            <option class="opicao" value="museuDoFlash">Museu Do Flash</option>
            <option class="opicao" value="galeriaDeViloes">Galeria de vilões</option>
        </select>
    </main>

    <script src="/js/seletor.js"></script>
</body>
</html>