<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Flash</title>

    <link rel="stylesheet" href="/css/timeFlash.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <header class="cabecalho">
        <h1>Time Flash</h1>
        <h2>Nesta página terá informações sobre os personagens do time flash</h2>
    </header>

    <main>
        <div class="personagens">
            <div class="personagem">
                <h3 class="nome-personagem">Flash</h3>
                <h4 class="descricao-personagem">Flash, também conhecido como Barry Allen recebe seus poderes por conta da junção de produtos químicos de seu laboratório forense, ser atingido por um raio isso tudo em quanto ocorre uma nuvem de matéria-escura por toda sua cidade, Central City, isto por conta de um erro no acelerador de particulas dos Laboratorios Star, após este evento Barry fica em coma durante 9 meses. 9 meses já tendo se passado Barry acorda nos Laboratorios Star, e conhece 1 medica: Caitlin Snow. E 2 cientistas: Cisco Ramon e o seu ídolo Harryson Wells. Após ele tentar voltar a sua rotina antiga ele percebe que tem poderes de super velocidade e aquelas pessoas que ele conhece nos Laboratorios Star agora viram seus parceiros, mentore e amigos nessa luta contra o crime, pois ele não foi o unico a ganhar poderes e alguams dessas pessoas não os usam para coisas boas mas sim para o mau.</h4>
            </div>
            <div class="personagem">
                <h3 class="nome-personagem">Cisco Ramon</h3>
                <h4 class="descricao-personagem"></h4>
            </div>
            <div class="personagem">
                <h3 class="nome-personagem">caitlin snow</h3>
                <h4 class="descricao-personagem"></h4>
            </div>
            <div class="personagem">
                <h3 class="nome-personagem">Harrison Wells</h3>
                <h4 class="descricao-personagem"></h4>
            </div>
        </div>
    </main>

    <footer>
        <button type="button" class="retorno">
            <a href="/">Retornar à página inicial</a>
        </button>
    </footer>
</body>
</html>