<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Flash</title>

    <link rel="stylesheet" href="/css/timeFlash.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <header class="cabecalho">
        <h1>Time Flash</h1>
        <h2>Nesta página terá informações sobre os personagens do time flash</h2>
    </header>

    <main>
        <div class="personagens">
            <div class="personagem">
                <h3 class="nome-personagem">Flash</h3>
                <h4 class="descricao-personagem">Flash, também conhecido como Barry Allen recebe seus poderes por conta da junção de produtos químicos de seu laboratório forense, ser atingido por um raio isso tudo em quanto ocorre uma nuvem de matéria-escura por toda sua cidade, Central City, isto por conta de um erro no acelerador de particulas dos Laboratorios Star, após este evento Barry fica em coma durante 9 meses. 9 meses já tendo se passado Barry acorda nos Laboratorios Star, e conhece 1 medica: Caitlin Snow. E 2 cientistas: Cisco Ramon e o seu ídolo Harrison Wells. Após ele tentar voltar a sua rotina antiga ele percebe que tem poderes de super velocidade e aquelas pessoas que ele conhece nos Laboratorios Star agora viram seus parceiros, mentore e amigos nessa luta contra o crime, pois ele não foi o unico a ganhar poderes e alguams dessas pessoas não os usam para coisas boas mas sim para o mau.</h4>
            </div>

            <div class="personagem">
                <h3 class="nome-personagem">Harrison Wells</h3>
                <h4 class="descricao-personagem">Harrison Wells inicialmente era somente um cientista que tinha vontade de fazer do mundo um lugar melhor com suas invenções. Porém, Eobard Thawne, também conhecido como Flash Reverso, o rival do Flash do futuro, mata a mãe de Barry, mudando o passado, reescrevendo a história e criando uma nova linha do tempo onde o Barry, por conta de não ter sua mãe e seu pai ter sido preso, acusado de matar sua mãe, tem uma vida diferente. Vida essa em que ele não se torna o Flash e, sem Flash, sem Flash Reverso. Ou seja, ao matar a mãe do Barry, Eobard Thawne também apagou sua habilidade de reter velocidade (pois ele consegue utilizar da velocidade que já tinha antes, porém não consegue obter mais, fazendo com que ele tenha que ficar "recarregando" sua velocidade em uma bateria). Sem a velocidade, ele não conseguiria voltar para o futuro. Com isso, ele nota que precisa que o Flash exista, então inicia um grande plano para que isso ocorra. O primeiro grande passo que ele faz é causar um acidente no carro do verdadeiro Harrison Wells, matando sua esposa e tomando a face dele para si, se tornando o novo Harrison Wells. Isto para poder fazer o acelerador de partículas explodir anos antes do momento para que o Flash seja criado antes, para que ele treine o Flash e faça com que ele o leve de volta para o seu tempo. Assim, o primeiro Harrison Wells que vemos na série é, na verdade, o Eobard Thawne. Porém, os planos dele falham, ele acaba sendo apagado da existência e acaba abrindo um portal para outros universos, dando à série um mar de possibilidades de Harrisons Wells. Porém, eles serão citados depois.</h4>
            </div>

            <div class="personagem">
                <h3 class="nome-personagem">Caitlin Snow</h3>
                <h4 class="descricao-personagem"></h4>
            </div>
            
            <div class="personagem">
                <h3 class="nome-personagem">Cisco Ramon</h3>
                <h4 class="descricao-personagem"></h4>
            </div>
        </div>
    </main>

    <footer>
        <button type="button" class="retorno">
            <a href="/">Retornar à página inicial</a>
        </button>
    </footer>
</body>
</html>