html::before{
    content: "";
    background-image: url(/img/Museu_do_Flash.webp);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

#seletor{
    margin: 20px 20px;
    width: 420px;
    height: 100px;
    font-size: 20px;
    background-color: #a00000;
    color: #fff;
}